from .development import *
from .common import *
MEDIA_URL = "http://{{ ansible_default_ipv4.address }}/media/"
STATIC_URL = "http://{{ ansible_default_ipv4.address }}/static/"
ADMIN_MEDIA_PREFIX = "http://{{ ansible_default_ipv4.address }}/static/admin/"
SITES["front"]["scheme"] = "http"
SITES["front"]["domain"] = "{{ ansible_default_ipv4.address }}"
SECRET_KEY = "theveryultratopsecretkey"
DEBUG = False
TEMPLATE_DEBUG = False
PUBLIC_REGISTER_ENABLED = True
DEFAULT_FROM_EMAIL = "no-reply@example.com"
SERVER_EMAIL = DEFAULT_FROM_EMAIL
